*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* header website */

.navbar{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.logo{
    margin-top: 67px;
}

.line{
margin-top: 67px;
}

.header {
    background: #000;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
      url(photos/wallpaperflare\ 1\ \(1\).png);
    background-position: center;
    background-size: cover;
    position: relative;
  }

  
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .text-box h1 {
    font-size: 62px;
  }
  
  .text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-top: 50px;
  }
  
  .hero-btn {
    margin-top: 80px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 100px;
  }
  
  .hero-btn:hover {
    border: 2px solid #000;
    background: #626275;
    color: #ffffff;
    transition: 1s;
  }

  /* card section */

  .course {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding: 200px;
    line-height: 72px;
    size: 48px;
    background: #010204;

    ;
   
  }
  
 h3{
  color: #fff;
  
 }
  
  p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    /* padding: 10px; */
    text-align: start;
  }
  
  .row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  }
  
  .course-col {
    flex-basis: 31%;
    background: #031730;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
  }
  
  h3 {
    text-align: start;
    font-weight: 600;
    margin: 10px 0;
    font-size: 40px;
    }
  
  .course-col:hover {
    box-shadow: 0 0 40px 0px rgba(255, 255, 255, 0.823);
  }
  
  @media (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }

  
  /* xidmet */


  .campus {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background: rgba(1, 9, 18, 1);
    
  }
  
  .campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
  }
  
  .campus-col img {
    width: 100%;
    display: block;
  }
  

/* portfolio */

.portfolio{

background: #010204;
  text-align: center;
}
.portfolio img{
    
  height: 1080px;
  width: 1185px;
  margin-left: -4px;
  margin-top: 160px;
  
}